*, ::before, ::after{
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', 'Roboto', 'Oxygen',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e0e047;
}

#root{
  width: 100vw;
  height: 100vh;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #ccc;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}
.y.axis{
  opacity: 0;
}
